import React, { Component } from 'react';
import { translate, InjectedTranslateProps } from 'react-i18next';
import { withStyles } from '@material-ui/core/styles';
import styles from './styles';

export interface {{ name }}Props extends WithStyles<typeof styles>, InjectedTranslateProps {
}

class {{ name }} extends Component<{{ name }}Props, {}> {
  static defaultProps = {
  };

  render() {
    return (<div></div>);
  }
}

export default withStyles(styles, { withTheme: true })(translate()({{ name }}));
